<mat-toolbar>
  <span>Pumping Emails</span>
</mat-toolbar>

<section class="pumping"></section>

<section class="email-section">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Manda um e-mail!</h1>
    <mat-form-field appearance="fill">
      <mat-label>Seu nome</mat-label>
      <input class="input" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Assunto</mat-label>
      <input class="input" matInput formControlName="subject">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Corpo do Email</mat-label>
      <textarea class="input" matInput formControlName="text"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Enviar</button>
  </form>

</section>
